
.root {
  padding: 20px;
  display: flex;
  column-gap: 10px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.divider {
  writing-mode: vertical-lr;
  position: relative;
  text-align: center;
  margin: -5px 0;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    display: block;
    background-color: var(--pv-color-gray-3);
  }
}

.preview_item {
  height: fit-content;
  box-shadow: var(--pv-shadow-light-low);
  padding: 5px;
  flex-shrink: 0;
}

.preview_image {
  width: 120px;
  margin-bottom: 10px;
}
