.root {
  display: flex;
  height: 100%;
}

.loading{
  align-self: center;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}

.header {
  padding: 10px;
  box-shadow: var(--pv-shadow-light-low);
}

.image_wrapper {
  flex-grow: 1;
  padding: 15px 20px;
  height: 300px;
}

.footer_navigation {
  padding: 10px;
}
